      <%- helpers.render('components/footer.ejs') %>
    </main>

    <% if (helpers.target() === 'dev') { %>
      <script data-main="./assets/js/main" src="./assets/js/vendor/require.js"></script>
    <% } else { %>
      <script src="./assets/js/scripts.js"></script>
    <% } %>
  </body>
</html>
