      <%- helpers.render('components/footer.ejs') %>
    </main>

    <% if (helpers.target() === 'dev') { %>
      <script data-main="./assets/js/main" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.js"></script>
    <% } else { %>
      <script src="./assets/js/scripts.js"></script>
    <% } %>
  </body>
</html>
